.collaboration{
  width: 40%;
  padding-bottom: 20%;

}

.collab {
    padding: 50px 5px;
    font-weight: 700;
    font-size: 25px;
}
.collab1 {
    width: 60px;
}

hr {
  margin: 10px auto;
  width: 10%;
  height: 2px;
  background-color: #f90;
  border: none; /*on supprime le style par défaut*/
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black !important;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.img-caroussel{
  width: 1px;
}